ul {
    list-style: none;
}

ul li{ 
    color: rgb(45,45,45);
    background-color: lightgray;
    font-size:20px;
    padding:10px
}

ul li:hover{
    color: white;
    background-color: darkcyan;
}

.selected {
    color:white !important;
    background-color: darkcyan !important;
}
