nav{
    margin:0;
    padding:20px 0;
    width:100%;
    background-color:darkcyan;
}

nav ul {
    list-style: none;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin:0;
}

nav ul li p {
    text-decoration:none;
    color:white;
}

nav li:hover{
    cursor:pointer;
}
