
div.word-list{
    background-color: lightgray;
    height:91.9vh;
    width:25vw;
    overflow-y:scroll;
    float:left;
}

div.word-info {
    height:91.9vh;
    overflow-y: scroll;
}

div.informacion {
    position:fixed;
    top:56px;
    right:15px;
    border: 1px solid lightgray;
    padding:5px;
    background-color: white;
}
