h2 {
    color:darkcyan;
    font-size: 50px;
    margin: 50px 0px;

}

h3{
    color:darkcyan;
    font-size:22px;
    margin-bottom:15px;
    margin-top:40px;
}

.info {
    text-align:justify;
    padding-left:40px;
    padding-right:30px;
}

.def, .trans, .rel {
    color: rgb(35,35,35);
    font-size:18px;
    margin-right:30px;
    line-height:28px;
}

.rel {
  margin-top:20px;
  margin-bottom:20px;
   font-size:16px;
    list-style: none;
    display:flex;
}

.rel li {
    margin:0px 20px;
    cursor:pointer;
}

